@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Home</title>
</head>
<body>
    <div>
        
    </div>



      <script data-main="/Scripts/App/config" type="text/javascript" src="~/scripts/require.js"></script>
    Did you get a hello world?
        <div data-bind="text: title"></div>
</body>
</html>
